---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
	title: "Новини",
	path: "/news/1", 
  },
  {
	title: "TwetBase",
	path: "/tw",
  },
  {
	title: "Вицове",
	path: "/vicove",
  },
  {
	title: "Contact",
	path: "/contact",
  },
];
---

 
  <header class="flex flex-col lg:flex-row justify-between items-center my-5 sticky top-0 backdrop-blur-sm z-10 p-4">
	<Astronav>
		<div class="flex w-full lg:w-auto items-center justify-between">
			<a href="/" class="text-lg flex items-center">
<img src="/logo1.png" class="w-12 h-12 mr-2"/>
				<span class="font-bold text-slate-300">kloun</span><span class="text-slate-200">lol</span>
			</a>
			<div class="block lg:hidden">
				<MenuIcon class="w-4 h-4 text-gray-800" />
			</div>
		</div>
		<MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
				menuitems.map((item) => (


				<li>
					<a href={item.path} class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
						{item.title}
					</a>
				</li>


				))
				}
			</ul>
			<div class="lg:hidden flex items-center mt-3 gap-4">
				<!-- <a href="#" style="muted">Log in</a>
				<a href="#">Sign up</a> -->
			</div>
		</MenuItems>
	</Astronav>
	<div>
		<div class="hidden lg:flex items-center gap-4"> 
			<a href="#">&nbsp;</a>
			<a href="#">&nbsp;</a>
		</div>
	</div>
</header>