---
import type { Session } from '@auth/core/types';
import { Auth, SignOut } from 'auth-astro/components';
import SEO from './SEO.astro';
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#9EA3FA" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <SEO title={title} description={description || title} />

    <title>{title}</title>
  </head>
  <body class="flex h-screen flex-col">
    <header class="top-5 w-full justify-between p-5 flex grow-0">
      <div class="flex">
        <h1 class="text-lg text-gray-800 font-extrabold">
          Д-р М. Новоселска <div class="font-thin text-xs">
            клиничен психиатър
          </div>
        </h1>
      </div>
      <Auth>
        {
          (session: Session | null) =>
            session && (
              <div class="flex justify-center align-middle">
                <img
                  src={session.user?.image}
                  class="rounded-full w-6 h-6 mr-3"
                />
                <SignOut class="text-xs">Изход</SignOut>
              </div>
            )
        }
      </Auth>
    </header>

    <slot />
  </body>
</html>
