---
import Layout from '../../layouts/Layout.astro';

import { topics } from '../../lib/topics';
import Form from '../../react/Form';
const cookie = Astro.cookies.get('google_oauth_state') as {
  value: string;
};
const { id } = Astro.params as { id: string };

const signInUrl = `https://accounts.google.com/o/oauth2/v2/auth?client_id=505450551021-vu1amcbd0ls2gokvssqqh5k1gdq3s55q.apps.googleusercontent.com&redirect_uri=${
  process.env.LOGNAME
    ? 'http://localhost:4321/auth/google/'
    : 'https://dr-novoselska.com/auth/google/'
}&response_type=code&scope=email%20profile`;
const topic = topics.find((t) => t.slug === id);
---

<Layout
  title={topic?.data?.info?.substring(0, 50) ||
    'Доктор Новоселска , Добрич, клиничен психиатър'}
>
  <div class="grow-0 flex w-full items-center justify-center py-2 pt-3">
    <div
      class="flex items-start space-x-4 p-5 sm:px-0 max-w-screen-md bg-white rounded-lg shadow-lg border border-gray-200"
    >
      <div class="p-1.5 text-white -mt-4 ml-2">
        <img src="/avatar.jpg" class="w-14 rounded-full" />
      </div>

      <div class="prose mt-1 w-full break-words pr-6">
        <div class="text-xs text-slate-500">Medeia</div>
        <div>
          {topic?.data?.info?.split('\n').map((p) => <p>{p}</p>)}
        </div>
      </div>
    </div>
  </div>
  <Form client:only="react" cookie={cookie} url={signInUrl} topic={topic?.id} />
</Layout>
