---
export const prerender = false;
import {   gql } from "../../../../../userz/src/components/helpers/gql";
 

const { id } = Astro.params as { id: string };
const data = await gql(`query MyQuery($_eq: String = "01H84F7XPSG1ESNF20HDTRFSCC") {
	  newsbg_by_pk(nid: $_eq) {
	    html
	    title
	    cat
	    id
	    nid
	  }
	}
`,{_eq:id}) as   {newsbg_by_pk:{
	title: string;
	cat:string;
	html?: {type:string; content:string;}[];
	type: string;
}
};
 
 
---

<head>
	<meta charset="UTF-8" />
</head>
<div>
	<h1 class="font-bold sm:text-2xl md:text-4xl" id="title">{ data.newsbg_by_pk.title}</h1>
	<article class="leading-relaxed" id="article">
		{data.newsbg_by_pk.html &&
			data.newsbg_by_pk.html.map(({ type, content }) =>
				type === "p" ? <p>{content}</p> : <img src={content} />
			)
		}
	</article>
	{data.newsbg_by_pk.cat}
	<div id="emp">{data.newsbg_by_pk.cat === "NewsBG" ? "император" : "emperor"}</div>
</div>
