---
import Layout from "../components/Layout.astro";
import {gql} from "../components/helpers/gql";
import  chunk  from 'lodash/chunk';
type Data = {genid:string; text:string}[]
const resp  = await gql('questions',{limit:30}) as {qlatest: Data, qtags:{hashtag:string}[]}
const chunks = chunk(resp.qlatest, 10) as Data[]
 
 
---

<Layout title="userz dot net." tags={resp.qtags}>

		<div class="container mx-auto">
		<div class="grid grid-cols-1  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
		{chunks.map((chunk) => (
			<div>
			{
				chunk.map(({genid,text}) => (
					<div class="grid">
					<a href={'/'+genid} class="p-6  m-3  border border-emerald-600 border-4 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
						<h5 class="mb-2 text-xl xs:text-2xl sm:text-3xl font-bold tracking-tight text-gray-200">	{text.replaceAll('?',' ')}</h5>
					</a>
					</div>
				))
			}
			</div>
		))}
			
		
		</div>
		</div>
 
</Layout>
