---
import chunk from "lodash/chunk";
import Layout from "../components/Layout.astro";
import { daysarr } from "../lib/days";
 import { sql } from 'drizzle-orm' 
import { gquery,db,q_a,q_q} from "../lib/graph";
 
type Data = { genid: string; text: string }[];
const currentDate = new Date();
const dayOfYear: number = Math.floor(
  (currentDate.getTime() -
    new Date(currentDate.getFullYear(), 0, 0).getTime()) /
    86400000 +
    1
);
const genid = daysarr[dayOfYear];
console.log(genid);
 
 const   answers1 =  await db.select({genid:q_a.genid,text:q_a.text}).from(q_a).where(sql`genid != ${genid} ORDER BY embed <-> (SELECT embed FROM q.a WHERE genid = ${genid}) LIMIT 30`);

 
//  const sessionId = Astro.cookies.get(lucia.sessionCookieName)?.value ?? null;
// // const { session, user } = await lucia.validateSession(sessionId);
//  
const questions1 = await db.execute(sql`select * from ${q_q}  where genid IN ${ answers1.map(x => x.genid)} `)
 
const chunks = chunk(questions1, 10) as Data[];
const chunksa = chunk(answers1, 10) as Data[];
---

<Layout title="userz dot net." >  
  <div class="max-w-screen-xl px-4 py-3 mx-auto">  

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
      {
        chunks.map((chunk, i) => (
          <div>
            {chunk.map(({ genid, text }, i1) => (
              <div class="grid">
                <a
                  href={"/" + genid}
                  class="p-6  m-3 border-emerald-600 border-4 rounded-lg shadow hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 relative"
                >
                  <div class="absolute -top-1 -right-0.5 bg-emerald-600 px-2 rounded-bl-md  rounded-tr-lg text-xs text-black">
                    {new Date().toISOString().split("T")[0]}
                  </div>
                  <h5 class="mb-2 text-xl xs:text-2xl sm:text-3xl font-bold tracking-tight text-gray-200">
                    {" "}
                    {text.replaceAll("?", " ").slice(0, 90)} ...
                  </h5>
                  {chunksa[i][i1]?.text.slice(0, 150)} ...
                </a>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</Layout>
