---
import Layout from '../layouts/Layout.astro';
import Form from '../react/Form';
const cookie = Astro.cookies.get('google_oauth_state') as {
  value: string;
};

const signInUrl = `https://accounts.google.com/o/oauth2/v2/auth?client_id=505450551021-vu1amcbd0ls2gokvssqqh5k1gdq3s55q.apps.googleusercontent.com&redirect_uri=${
  process.env.LOGNAME
    ? 'http://localhost:4321/auth/google/'
    : 'https://dr-novoselska.com/auth/google/'
}&response_type=code&scope=email%20profile`;
---

<Layout title="Доктор Новоселска , Добрич, клиничен психиатър">
  <div
    class="grow-0 flex w-full items-center justify-center border-b border-gray-200 py-2 pt-3"
  >
    <div
      class="flex items-start space-x-4 p-5 sm:px-0 max-w-screen-md bg-white rounded-lg shadow-lg border border-gray-200"
    >
      <div class="p-1.5 text-white -mt-4 ml-2">
        <img src="/avatar.jpg" class="w-14 rounded-full" />
      </div>

      <div class="prose mt-1 w-full break-words pr-6">
        <div class="text-xs text-slate-500">Medeia</div>
        Здравейте, това е виртуалният асистент на доктор Новоселска Аз съм изкуствен
        интелект, който е трениран на базата на дългогодишната практика на доктор
        Новоселска, за да ви помогна с някои основни въпроси и проблеми. Аз не съм
        реален човек и не мога да заместя професионалната помощ на доктор Новоселска.
        Ако имате нужда от консултация с нея, можете да се свържете с нея на телефон
        0888 266 745 или на имейл medeia@dr-novoselska.com. Аз съм тук, за да ви
        слушам и да ви подкрепям.😊
      </div>
    </div>
  </div>
  <!-- <div class="gap-1 flex flex-wrap">
    {
      topics.map((topic) => (
        <button class="bg-gray-500 hover:bg-gray-700 text-white   py-1 px-2 rounded-lg text-sm">
          {topic}
        </button>
      ))
    }
  </div> -->

  <Form client:only="react" cookie={cookie} url={signInUrl} />
</Layout>
