---
import '../../base.css'
export interface Props {
	title: string;
	description?:string
	logo?:string
	tags?: {hashtag:string}[]
}
const { title,description,logo,tags } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description || 'Zero in on  social media presence by checking out their  profiles, featuring photos and engaging content'} /> 
	</head>
	<body>
		<nav >
			<div class="flex flex-wrap   items-center mx-auto max-w-screen-xl p-4">
				<a href="https://flowbite.com" class="flex items-center">
					<img src={logo !== 'inner' ? "/logo2.png":"/logotext.png"} class={logo !== 'inner' ? "w-2/4   ":"w-1/2"} />
					 
				</a>
				<div class="flex items-center absolute right-4">
					<a href="#" class="text-md  text-blue-600  hover:underline font-black">Login</a>
				</div>
			</div>
		</nav>
		<nav>
			<div class="max-w-screen-xl px-4 py-3 mx-auto">
				<div class="flex items-center">
					<ul class="flex flex-wrap space-x-1 text-sm">
						{
						tags &&    tags.filter(({hashtag}:{hashtag:string})=> hashtag.length > 2) .map(({hashtag}:{hashtag:string}) => (
							 <li>
								 
								 <a class="text-black block px-2 m-1 bg-emerald-600 rounded-2xl">#<span>{hashtag}</span></a>
							 </li>
							 
							))
							 }
						 
					</ul>
				</div>
			</div>
		</nav>
	 <main class="max-w-screen-xl   mx-auto">
		<slot />
 </main>
	</body>
</html>
 

 