---
import Layout from "../../components/Layout.astro";
import {gql} from "../../components/helpers/gql";
const { tag } = Astro.params as { tag: string };
 
 const resp  = await gql('tags',{_eq:tag}) as {qtags:{count:number, rows_with_tag:string[]}}
 
 if(!resp.qtags[0]) {
	  return Astro.redirect('/404')
  }
 const arr = resp.qtags[0].rows_with_tag.split(', ')
 const questions =  await gql('tagquestions',{_in:arr}) as {questions:{genid:string; text:string}[]}
  
---
<Layout title={tag} description={'#'+tag} logo={"inner"}>
	<main> 
		<h1 class="mb-2 text-3xl font-bold tracking-tight text-gray-200 dark:text-white">#{tag}</h1>
		<div class="flex flex-col relative">
 {
	 questions.questions.map(({genid,text},i) => (
		 
		 <a href={'/'+genid}  class="flex mb-4  text-xl  font-black tracking-tight" >
			 <span class={"text-gray-900  bg-gray-900 p-4 text-black  p-3 rounded-lg"}> {(" aaa ").repeat(text.length / 4)} </span>
			 <h5 class="z-10 text-gray-200 absolute  mt-3 ml-3">{text.replaceAll('?',' ')}</h5>
			
		 </a>
	 
	 ))
 }
 </div>
	</main>
</Layout>